@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

body {
    background: rgb(102, 37, 74);
    overflow-wrap: break-word;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.calculator {
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    background: black;
}

table td {
    display: inline-block;
}

/* Result */
.result {
    display: block;
    padding-right: 10px;
    margin-bottom: 5px;
    width: 279px;
    height: 110px;
    height: 120px;
    font-size: 35px;
    border-radius: 15px;
    text-align: right;
    background: #1C1C1C;
    color: white;
}

p {
    overflow: hidden;
}

/* button */
.button {
    width: 70px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #1C1C1C;
    color: white;
}

.button-ac,
.button-equal {
    width: 140px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid black;
    cursor: pointer;
    background-color: rgb(255, 0, 68);
    color: white;
}

.button-especial,
.button-delete {
    width: 70px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid black;
    cursor: pointer;
    background-color: rgb(255, 0, 68);
    color: white;
}

/* Button Hover */
.button:hover {
    background: #444444;
}

.button-ac:hover{
    background-color: rgb(245, 79, 123);
}

.button-delete:hover {
   background-color: rgb(245, 79, 123); 
}

.button-equal:hover{
    background-color: rgb(245, 79, 123);
}

.button-especial:hover {
    background-color: rgb(245, 79, 123);
}

/* Footer */
footer{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
}

footer a{
    text-decoration: none;
    color: rgb(255, 0, 68);
}
